@media only screen and (min-width: 769px) {
    .mobonly{
        display: none!important;
    }

    a.vlt-navbar-logo img {
        height: 60px;
        width: 246.22px;
    }
}

@media only screen and (max-width: 769px) {
    .deskonly{
        display: none!important;
    }

    .twlogo-vitrine:after {
        top: 45px;
        right: 30px;
        opacity: 0.3;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        transform: scale(.6);
    }
    
    h1.vlt-large-heading.has-white-color.slogam {font-size: 44px;line-height: 55px;}

    .vlt-navbar .vlt-navbar-inner {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .vlt-navbar .vlt-navbar-inner img {
        width: 160px;
    }

    footer.vlt-footer.vlt-footer--fixed {
        display: none;
    }

    #servicos-section .vlt-gap-40 {
        display: none;
    }
    
    #servicos-section .vlt-gap-40--sm {
        display: none;
    }
}